# VCG Language — GitHub Linguist
*.vcg linguist-language=VCG
*.vcg linguist-detectable=true

# Vendor
tools/ linguist-vendored=true
assets/ linguist-documentation=true

# Binaries
*.apk binary
*.jar binary
*.png binary
*.svg binary
